<template>
    <div>
        <div class='box' v-for="(post, key) in list">
            <div class="card">
                <div v-if="post.photo">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img :src="post.photo" alt="Image">
                        </figure>
                    </div>
                </div>
                <div v-else>
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="http://lorempixel.com/g/640/480/" alt="Image">
                        </figure>
                    </div>
                </div>
                <div class="card-content">
                    <div class="media">
                        <section class="">
                            <div class="container">
                                <div>
                                    <h1 class='title'><a :href="url('blog/' + post.title)">{{post.title}}</a></h1>
                                    <div><em><strong> by {{ post.author }}
                                        <small>{{post.time}}</small>
                                    </strong></em></div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="content" v-html="post.body"></div>
                    <a :href="url('blog/' + post.title)" class="button is-warning is-pulled-right">Read more...</a>
                </div>
            </div>
        </div>
        <infinite-loading :on-infinite="onInfinite" ref="infiniteLoading">
            <span slot="no-more">
            <div class="box">
              <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="/img/that_s_all_folks.jpg" alt="No more records">
                    </figure>
                </div>
            </div>
            </span>
        </infinite-loading>
    </div>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading';
const api = '/posts?page=';
export default {
    props: ['filter'],
    data() {
        return {
            list: [],
            page: 1,
            link: api,
            filteringResult: ''
        };
    },
    methods: {
        onInfinite() {
            axios.get(this.link + this.page + this.filteringResult).then((res) => {
                if (res.data.data.length) {
                    this.list = this.list.concat(res.data.data);
                    this.$refs.infiniteLoading.$emit('$InfiniteLoading:loaded');
                    this.page++
                    if (this.list.length / 10 === 10) {
                        this.$refs.infiniteLoading.$emit('$InfiniteLoading:complete');
                    }
                } else {
                    this.$refs.infiniteLoading.$emit('$InfiniteLoading:complete');
                }
            });
        },
    },
    watch : {
        filter : function (value)
        {
            this.page = 1;
            this.list = [];
            this.filteringResult = '&month=' + value['month'] + '&year='+ value['year'];
            this.$refs.infiniteLoading.$emit('$InfiniteLoading:reset');
        }
      },
    components: {
        InfiniteLoading,
    }
};

</script>
