<template>
    <div class='columns'>
		<div class="column">
        	<h1>Question: {{question.text}}</h1>
	        <ul>
	            <li v-for="(answer, index) in question.answers">
	                <button class='button column is-three-quarter' @click="manageAnswer(index, question.correct)"
	                        :class="{
	                            correct: index === question.correct,
	                            wrong: index !== question.correct,
	                            answered: question.answered === index
	                        }"
	                        :disabled="question.answered !== -1" v-text="answer">
	                    {{ answer }}
	                </button>
	                <!-- if i want to show what they choosed <span v-show="question.answered === index">(Your choice)</span> -->

	            </li>
	        </ul>
		
	        <div>
	            <p class='pull-left'><button @click="prev" :disabled="isFirstQuestion" class="button">Previous</button></p>
	            <p class='pull-right'><button @click="next" :disabled="isLastQuestion" class="button">Next</button></p>
	        </div>
        </div>
        <div class="column is-4">
        		<nav class="panel">
				  <p class="panel-heading">
				    Total Questions: {{ totalQuestions }}
				  </p>			
				  <div class="panel-block">
				    Wrong: {{ wrongAnswers}}
				  </div>
				  <div class="panel-block">
				    Correct: {{correctAnswers}}
				  </div>
				  <div class="panel-block">
				    <button @click='resetQuiz' class="button is-primary is-outlined is-fullwidth">
				      Start over
				    </button>
				  </div>
				</nav>
        		
        </div>
        
    </div>
</template>

<script>
const questions = [
    { 
        text: "3+4 = ?", 
        images: true,
        answers: ["7", "8", "9"], 
        correct: 0,
        answered: -1 
    },
    { 
        text: "5-3 = ?", 
        answers: ["3", "2", "1"], 
        correct: 1,
        answered: -1 
    },
    { 
        text: "Who is the on the photo?", 
        answers: ["<img src='img/avatars/1.jpg>", "<img src='img/avatars/2.jpg>", "<img src='img/avatars/3.jpg>"], 
        correct: 2,
        answered: -1 
    },
];
export default {
    data() {
        return {
            questions,
            index: 0,
            wrongAnswers: 0,
            correctAnswers: 0
        };
    },
    computed: {
        question() { return this.questions[this.index]; },
        isFirstQuestion() { return this.index === 0; },
        isLastQuestion() { return this.index === this.questions.length - 1; },
        totalQuestions(){
        	return this.questions.length;
        },
        wrongAnswers()
        {
        	this.wrongAnswers++
        },
        correctAnswers()
        {
        	this.correctAnswers++
        },
    },
    methods: {
    	resetQuiz()
    	{
    		this.wrongAnswers = 0;
    		this.index = 0;
    		this.correctAnswers = 0;
    		this.questions = questions;
    		this.question();
    	},
        prev() { this.index -= 1; },
        next() { this.index += 1; },
        manageAnswer(index, correctAnswer) { 
        	this.question.answered = index; 
        	if (index === correctAnswer)
        	{
        		return this.correctAnswers++
        	}
        	
       		this.wrongAnswers++
        	
        },
    }
}
</script>

<style>
li button {
    border: none; outline: none;
    background: transparent;
    font: normal 16px sans-serif;
}
li button:disabled.wrong {
    background: #ff3860;
    color: white;
}
li button:disabled.correct {
    background: #23d160;
    color: white;
}
li button.answered {
    border: none; outline: solid 5px black;
    background: transparent;
    font: normal 16px sans-serif;
}
</style>