<template>
	<div>
		<a :class="{'is-danger' : isWrongAnswer}" class='button is-large {class}' style='width:100%' @click="markTheAnswer(question.answer)" :disabled="disabled">
			{{question.name}}
			<img v-if="question.photo" :src="question.photo" />
		</a>
	</div>
</template>
<style>
</style>
<script>
import Question from './ThaiDriverExamQuestion.vue';
export default {
	props: ['question', 'disabled', 'class'],
	data(){
		return {
			isWrongAnswer: false,
			classCorrectAnswer: 'is-warning',
			classWrongAnswer: 'is-danger',
		}
	},
	methods: {
		markTheAnswer: function(answer){
		
			if (answer !== true)
			{

				this.isWrongAnswer = true;
				this.isDisabled = 'disabled';
				Event.fire('wrongAnswer');
			}
		},
	},
	
}
</script>
