<template>
<div>
<div v-for="(question, index) in questions">
	<question :question="question" :disabled='disabled' :class='classForCorrectAnswer'></question>
</div>
		

	</div>
</template>
<style>
</style>
<script>
import Question from './ThaiDriverExamQuestion.vue';
export default {
	components: {Question},
	props: {
            questions: {
                required: true
            },
            disabled: false,
            
        },
        data(){
return { classForCorrectAnswer: ''}
        },
    created()
    {
		Event.listen('wrongAnswer', ()=>{
			console.log('handling');
			Object.keys(this.questions).map(
				(e) => 
				{
					if (this.questions[e].answer === true)
					{
						this.classForCorrectAnswer = 'is-warning';
					}
					console.log(this.questions[e].answer);
				}
				);
			this.isDisabled=true;
		});
			
	}
}
</script>