$font-stack: 'Josefin Sans', sans-serif;
$primary-color: orangered;
$font-color: darken(brown, 10);
$link-color: seagreen;
$primary: orangered;
$primary-background: whitesmoke;
$primary-invert: lighten($primary, 100);
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Josefin+Sans');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@import "~bulma";
@import "thcoder";

html {
  font-size: 1.2em;
}

body {
  font: 100% $font-stack;
  color: $font-color;
  background-color: $primary-background;
  a {
    color: $link-color;
    text-decoration: none;
    transition: all 0.5s ease;
  }
  a:hover {
    color: $primary-color;
    text-decoration: none;
  }
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 900;
    color: darkgreen;
  }
  nav {
    a {
      nav-item {
        color: red;
        font-weight: 800;
      }

    }
  }
}

@media all and (max-width: 600px) {
  html {
    font-size: 1em;
    min-height: 100%;
  }
}

// mobile toggle menu
#nav-toggle-state {
  display: none;
}

#nav-toggle-state:checked ~ .nav-menu {
  display: block;
}

main {
  padding: 20px 0px;
  background: $primary-background;
}

nav {
  a {
    color: $font-color;
  }
}

footer {
  // position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background: $primary;
  padding: 30px;
  color: $primary-invert;
  font-weight: 900;
}

a.nav-item {
  color: $link-color;
}

a:hover.nav-item {
  color: $primary-color;
}

figure.image {
  border-bottom: solid 3px $link-color;
}

// login form
.is-inner-shadow{
  -webkit-box-shadow:inset 0 0 0 10px $primary-color;
  -moz-box-shadow:inset 0 0 20px 10px $primary-color;
  box-shadow:inset 0 0 30px 10px $primary-color;
}

h1.title{
  text-transform: uppercase;
}
a.facebook{
  color: white;
  background: #3B5998;

}
a:hover.facebook{
  color: white;
  background: lighten(#3B5998, 20);
}
a.twitter{
  color: white;
  background: #4099ff;
}
a:hover.twitter{
  color: white;
  background: darken(#4099ff, 20);
}

a.linkedin{
  color: white;
  background: #0077B5;
}
a:hover.linkedin{
  color: white;
  background: darken(#0077B5, 20);
}

a.github{
  color: white;
  background: seagreen;
}
a:hover.github{
  color: white;
  background: darken(seagreen, 20);
}

// HIGHLIGHT GITHUB STYLE
.hljs{display:block;overflow-x:auto;padding:0.5em;color:#333;background:#f8f8f8}.hljs-comment,.hljs-quote{color:#998;font-style:italic}.hljs-keyword,.hljs-selector-tag,.hljs-subst{color:#333;font-weight:bold}.hljs-number,.hljs-literal,.hljs-variable,.hljs-template-variable,.hljs-tag .hljs-attr{color:#008080}.hljs-string,.hljs-doctag{color:#d14}.hljs-title,.hljs-section,.hljs-selector-id{color:#900;font-weight:bold}.hljs-subst{font-weight:normal}.hljs-type,.hljs-class .hljs-title{color:#458;font-weight:bold}.hljs-tag,.hljs-name,.hljs-attribute{color:#000080;font-weight:normal}.hljs-regexp,.hljs-link{color:#009926}.hljs-symbol,.hljs-bullet{color:#990073}.hljs-built_in,.hljs-builtin-name{color:#0086b3}.hljs-meta{color:#999;font-weight:bold}.hljs-deletion{background:#fdd}.hljs-addition{background:#dfd}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}