$font-stack: 'Josefin Sans', sans-serif;
$primary-color: seagreen;
$font-color: black;
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Josefin+Sans');
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 1.4em;
  min-height: 100%;
}
body {
  font: 100% $font-stack;
  color: $font-color;
  background-color: whitesmoke;
  a{
    color: seagreen;
    text-decoration:none;
    transition: all 0.5s ease;
  }
  a:hover{
    color: lightgreen;
    text-decoration:none;
  }
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: normal;
    color: darkgreen;
  }
}
main {
  margin-top: 3em;
}
.profile{
  display: none;
}
.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column;
}
.navigation ul>li:last-child{
  align-self: flex-end;
}
.navigation {
  list-style: none;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  background: $primary-color;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}
.navigation li:first-child {
  border-right: 1px solid white;
}
.navigation a:hover {
  background: darken(deepskyblue, 2%);
}
.navigation a:hover + .profile {
  display: block;
  background: darken(deepskyblue, 2%);

}
@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}