<template>
    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-content">
            <section class="hero is-warning is-bold is-inner-shadow">
                <div class="hero-body">
                    <div class="container">
                        <div class="columns is-centered">
                            <div class="">
                                <h1 class="title">Admin Login</h1>
                                <form method="post" @submit.prevent="onSubmit">
                                    <div class="box">
                                        <label class="label">Email</label>
                                        <p class="control">
                                            <input class="input" type="text" name="email" id="email"
                                                   placeholder="email here" v-model='form.email'>
                                            <span class="help is-danger"
                                                  v-if="form.errors.has('email')"
                                                  v-text="form.errors.get('email')"></span>
                                        </p>
                                        <label class="label">Password</label>
                                        <p class="control">
                                            <input class="input" type="password" name="password" id="password"
                                                   placeholder="" v-model='form.password'>
                                            <span class="help is-danger"
                                                  v-if="form.errors.has('password')"
                                                  v-text="form.errors.get('password')"></span>
                                        </p>
                                        <p><span class="help is-danger"
                                                 v-if="form.errors.has('error')"
                                                 v-text="form.errors.get('error')"></span></p>
                                        <p class="control">
                                            <button class="button is-warning is-pulled-right">Login</button>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <button class="modal-close" @click="$emit('close')"></button>
    </div>
</template>
<script>
    export default{
        data() {
            return {
                form: new Form({
                    email: '',
                    password: '',
                    error: ''
                })
            }
        },
        methods: {
            onSubmit(){
                // submit an ajax request
                this.form.post('/login').then(function(){
                 window.location = "/admin/todo";
                })
            }
        }
    }
</script>
