<template>
<div class="columns">
    <div class="taskBody column" v-html="description"></div>
    
    </div>
</template>
<style>
.taskBody{
    padding: 1em 1.25em;
}
</style>
<script>
    export default{
        props: ['description'],
       
        data(){
            return{
                msg:'hello vue'
            }
        }
    }
</script>
