<template>
    <div class="columns">
        <div class="column is-half">
            <nav class="panel">
                <p class="panel-heading">Todo list for VBlog</p>
                <div class="panel-block">
                    <p class="control has-icon">
                        <input class="input is-small" type="text" placeholder="Search">
                        <span class="icon is-small"><i class="fa fa-search"></i></span>
                    </p>
                </div>
                <p class="panel-tabs">
                    <a class="is-active">All</a>
                    <a>Needs</a>
                    <a>Ideas</a>
                    <a>Completed</a>
                </p>
                <article v-for='item in tasks'>
                    <task :task="item"></task>
                </article>
            </nav>
        </div>
        <div class="column">
            <form method="post" @submit.prevent="onSubmit">
                <label class="label">Title: </label>
                <p class="control">
                    <input class="input" type="text" placeholder="Task title" name="title" id="title" v-model='form.title' @keydown="form.errors.clear('title')" required>
                    <span class="help is-danger"
                          v-if="form.errors.has('title')"
                          v-text="form.errors.get('title')">
                </span>
                </p>
                <label class="label">Assign to: </label>
                <p class="control">
                <span class="select">
                    <select name='user_id' v-model='form.user_id'>
                        <option>Assign To: </option>
                        <option value='1'>Vladimir Nikolic</option>
                    </select>
                    <span class="help is-danger"
                          v-if="form.errors.has('user_id')"
                          v-text="form.errors.get('user_id')">

                    </span>
                </span>
                </p>
                <label class="label">Task: </label>
                <p class="control">
                    <textarea class="textarea ckeditor" placeholder="Task description" name="description" v-model='form.description' id="description" @keydown="errors.clear('description')" ></textarea>
                    <span class="help is-danger"
                          v-if="form.errors.has('description')"
                          v-text="form.errors.get('description')">
                    </span>
                </p>
                <p class="control"><button class="is-primary">Create task</button></p>
            </form>
        </div>
    </div>
</template>
<script>
import Task from './Task.vue';
export default{
    components: {
        Task
    },
    data()
    {
        return {
            tasks: [],
            form: new Form({
                title: '',
                description: '',
                user_id: ''
            }),

        }
    },
    methods: {
        toggleTaskDescription: function ()
        {
            this.showTaskDescription = !this.showTaskDescription
        },
        onSubmit()
        {
            // override for CKEditor here
            this.form.description = CKEDITOR.instances.description.getData();
            this.form.post('/admin/tasks')
                .then(status =>
                {
                    this.tasks = [status, ...this.tasks];
                })
                .catch(error => console.log(error))
        }
    },
    mounted()
    {
        axios.get('/admin/tasks')
             .then(status =>
             {
                 this.tasks = status.data;
             })
             .catch(error => console.log(error))
    }
}
</script>
