<template>
    <div class='columns'>
        <div class="column">
            <a class="taskHeader" @click='toggleTaskDescription' v-bind:class='{ completed : completed }'>
                <p>{{ task.title }}</p>
            </a>
            <transition name="component-fade" mode="out-in">
            <description :description='task.description' v-if="showTaskDescription"></description>
            </transition>
        </div>
        <div class="column is-one-quarter">
            <input type="checkbox" id="checkbox" v-model="checked" @click="completeTask(task.id, checked)" >
            <label for="checkbox" v-model='label'>{{ label }}</label>
        </div>
    </div>
</template>

<style>
.component-fade-enter-active {
  transition: opacity 0.8s ease;
}
.component-fade-enter, .component-fade-leave-to
  /* .component-fade-leave-active for <2.1.8 */ {
  opacity: 0;
}
a.taskHeader.completed{
    text-decoration: line-through;
}

.taskHeader{
    cursor: pointer;
    color: #363636;
    background-color: whitesmoke;
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    transition: all 86ms ease-out;
    padding: 0.5em 0.75em;
    display:flex;
}
</style>
<script>
    import Description from './TaskDescription.vue';
    export default {
        props: {
            task: {
                required: true
            }
        },
        data() {
            return {
                label: 'Complete',
                showTaskDescription: false,
                completed:this.task.deleted_at,
                checked: this.task.deleted_at,
            }
        },
        methods: {
            completeTask: function(task, checked){

                // send ajax to complete it
                if (checked)
                {
                    console.log('lets complete' + task)
                    axios('/admin/tasks/complete/' + task).then(response=>console.log(response)).catch(response=>console.log(response));
                }
                else
                {
                    console.log('lets restore' + task)
                    axios('/admin/tasks/restore/' + task).then(response=>console.log(response)).catch(response=>console.log(response));
                }
                this.completed = !this.completed;
                this.isCompleted = !this.isCompleted;
                this.label = 'Completed';
                if (!checked){
                    this.label = 'Complete';
                }
                console.log(this.completed)

            },
            toggleTaskDescription: function ()
            {
                this.showTaskDescription = !this.showTaskDescription
            }
        },
        components: {
            Description
        }
    }
</script>